body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #efefef;
}

img {
  display: inline-block;
  max-width: 100%;
}

.container {
  padding: 0 20px;
}

.vr {
  margin-bottom: 10px;
}

.vr_x2 {
  margin-bottom: 20px;
}

.vr_x3 {
  margin-bottom: 30px;
}

.blocks {
  margin-left: -15px;
  font-size: 0;
  text-align: left;
}

.blocks > * {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 0 15px 15px;
  font-size: 1rem;
  vertical-align: top;
}

.blocks_3up > * {
  width: 33.333333%;
}

/*
BULMA OVERRIDES
----------------------------------------
*/

.table.is-centered {
  margin: auto;
  width: 100%;
}
