.fieldMaterial {
    display: block;
    max-height: 48px;
    padding: 20px 8px 4px 8px;
    width: 264px;
    height: 48px;
    position: relative;
}

.fieldMaterial + .fieldMaterial {
    margin-top: 15px;
}

.fieldMaterial-input {
    outline: 0;
    border: 0;
    display: block;

    width: 256px;
    padding: 8px 4px 6px 4px;
    font-size: 1.2em;
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,.67);
    border-bottom: 1px solid rgba(0,0,0,.4);
}

.fieldMaterial-label {
    font-size: 1.2em;
    color: rgba(0,0,0,.67);
    display: block;
    position: absolute;
    top: 24px;
    left: 12px;
    pointer-events: none;
    margin-right: 12px;
    transition: all .2s;
}

.fieldMaterial-input:before {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #2196F3;
    position: absolute;
    top: -3px;
    left: -8px;
    margin-left: 132px;
    visibility: visible;
    transition: all .2s;
}

.fieldMaterial-input:hover {
    color: rgba(0,0,0,.9);
}


.fieldMaterial-input:disabled {
    border-bottom: 2px dotted rgba(0,0,0,.4);
}

.fieldMaterial-input:disabled + .fieldMaterial-label {
    color: rgba(0,0,0,.4);
}

.fieldMaterial-input:not([value=""]) + .fieldMaterial-label {
    font-size: .8em;
    top: 8px;
}

.fieldMaterial-input:focus + .fieldMaterial-label {
        font-size: .8em;
        top: 8px;
}

/*
$red = #F44336
$blue = #2196F3
$green = #4CAF50
*/

